@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

:root{
    --accent-color:#35A7F0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  width: 20px;
  transition: width 300ms;
}

img{
    display: inline-block;
}

body{
    color:white;
    min-height: 200vh;
    font-family: 'Inter', sans-serif, monospace;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.95);
    background-image:linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.96)), url(../images/grainy-background.svg);
}

section{
    border-bottom:1px solid rgba(255, 255, 255, 0.35);
}


header{
    position:sticky;
    top:0;
    width:100%;
    background-color: transparent;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    z-index: 100000;
    transition: top 500ms ease-out;
}
.logo{
    margin-left:3%;
    font-size: 3.5rem;
}
.logo img{
    height:100%;
    aspect-ratio: 1/1;
    transform: rotate(30deg);
}
.logo a{
    color:var(--accent-color);
    cursor: pointer;
    text-decoration: none;
}

.nav-bar{
    margin-left: 600px;
    display:flex;
    flex-direction: row;
    gap:70px;
    list-style: none;
}
.nav-element{
    text-decoration: none;
    color:whitesmoke;
    font-size: 16px;
    display: inline-block;
    position: relative;
    font-weight: 900;
    letter-spacing: 0.14rem;
}

.nav-element::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 0.15em;
  border-radius: 10px;
  background-color: var(--accent-color);
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
  transition: transform 300ms;
}

.nav-element:hover{
    color:var(--accent-color);   
    transition: all 0.5s;
}

.nav-element:hover::after,
.nav-element:focus::after{
  transform: scale(1);
}

.contact-us{
    color:white;
    background:var(--accent-color);
    padding: 15px 35px;
    border-radius: 30px;
    border: 1px solid black;
    cursor: pointer;
    position: relative; 
    overflow: hidden;
}

.contact-us::after{
    content: "";
    position:absolute;
    width:22.5%;
    height:200%;
    background-color: white;
    left:-50%;
    top:-50%;
    transform:rotateZ(35deg);
    opacity:0.35;
    transition: all 275ms;
}

.contact-us:hover::after{
    transform: translateX(250px) rotateZ(35deg);
    border:1px solid black;
    transition:all 275ms;
}


.hero-section{
    border-bottom: none;
}

.hero{
    height: 100vh;
    background-image: url(../images/visax-1rne6r1VcY0-unsplash.png);
    background-size: 100% 100vh;
    background-repeat: no-repeat;
}

.hero h2{
    color: white;
    position:absolute;
    font-size: 7vmin;
}

.hero h2:nth-child(1){
    top:14%;
    left:5%;
}

.hero h2:nth-child(2){
    color:transparent;
    top:50%;
    transform: translateY(-50%);
    width:100%;
    text-align: center;
    z-index: -1;
    font-size:12vmin;
    background-image:linear-gradient(to right,
        rgb(255, 0, 0), rgb(255, 194, 194),rgb(255, 0, 0)
    );
    -webkit-background-clip:text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background: whatever;
    background-size: 200%;
    animation: pan 4s linear infinite;
}

.hero h2:nth-child(3){
    bottom:14%;
    right:5%;
}







.main{
    margin-top:250px;
    padding: 30px 0;
}

.message-box{
    width:100%;
    padding:30px;
    line-height: 2.5rem;
    display:flex;
    align-items: center;
    flex-direction: row;
    border-radius: 2px;
    /* margin-bottom: 100px; */
}
.message-box h2{
    display: inline-block;
    font-size: 2.5rem;
    margin:20px 0;
    position:relative;
}

.message-box h2::before{
    content: "";
    position:absolute;
    top:-15px;
    width:30%;
    height:3px;
    background-color: var(--accent-color);
}

.message-box p{
    font-size: 1.5rem;
}

.message-box p span{
    color: var(--accent-color);
}

.right-box{
    padding-left:37.5%;
}

.left-box{
margin-top: 150px;
align-items: center;
justify-content: center;
}

.center-box{
    text-align: center;
    justify-content: center;
    padding: 0 10%; 
}

.center-box h2::before{
    width:80%;
    left:10%;
}



.main-content{
    display: grid;
    grid-template-columns: 1.5fr 2.5fr;
    row-gap: 1.5%;
    font-size: 8vmin;
    line-height: 5rem;
    align-items: center;
    justify-content: center;
}

.CTA-text{
    display: flex;
    align-items: center;
    justify-content: center;
    height:85vh;
    padding:10%;
    transition:text-shadow 700ms ease;
}

.CTA-image{
    height:85vh;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    padding:100px;
}

.CTA-image img{
    position: absolute;
    max-width: 75%;
    height: auto;
    max-height: 80%;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    border-left: 3px solid var(--accent-color);
    box-shadow: 5px 5px 10px rgb(98, 98, 98);
    border-radius: 3px 10px 10px 3px;
}
.CTA-text span{
    position:relative;  
    display: inline-block;
    height: 10vmin;
}

.CTA-text span::before{
    content: "";
    height: 10vmin;
    width:0;
    left:-5px;
    background-color: var(--accent-color);
    position: absolute;
    z-index: -1 ;
    border-radius: 1px;
    transition: width 300ms ease-in;
}

.CTA{
    filter: grayscale(100%);
    transition:all 3s;
}

.CTA-animation{
    
    filter: grayscale(0%) brightness(130%) contrast(130%);
    text-shadow: 0 0 6px #fff;
    transition: all 1s ease-in-out;
}

.CTA-animation span::before{
    width:105%;
    transition: 300ms ease-out;
}

#first-text{
    border-bottom: 3px solid var(--accent-color);
    border-left: 3px solid var(--accent-color);
}

#first-image{
    border-top: 3px solid var(--accent-color);
    border-left: 3px solid var(--accent-color);
    border-bottom: 3px solid var(--accent-color);
}

#second-image{
    border-right: 3px solid var(--accent-color);
    border-top: 3px solid var(--accent-color);
}

#second-text{
    border-top: 3px solid var(--accent-color);
    border-bottom: 3px solid var(--accent-color);   
}

#third-text{
    border-top: 3px solid var(--accent-color);
}

#third-image{
    border-left: 3px solid var(--accent-color);
    border-bottom: 3px solid var(--accent-color);
}

#fourth-text{
    
    border-top: 3px solid var(--accent-color);
    border-left: 3px solid var(--accent-color);
    border-bottom: 3px solid var(--accent-color);
}

#fourth-image{
    border-left: 3px solid var(--accent-color);
    border-bottom: 3px solid var(--accent-color);
}

.growth{
    padding:10%;
}
.growth-grid{
    margin: 100px 0;
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(15rem, 1fr));;
    gap:10%;
}

.qualities{
    padding: 100px 0;
}


.qualities .message-box{
    text-align: center;
    font-size: 3rem;
    line-height: 4rem;
}



.final-message{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:none;
    gap:50px;
    padding: 90px 0;
}
.final-message h1{
    font-size: 3rem;
    line-height: 4rem;
}

.contact{
    border: 1px solid var(--accent-color);
    background-color: transparent;
    color: rgba(255, 255, 255, 0.8);
    padding:15px 24px 15px 18px;
    font-size: 2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.contact:hover{
    background-color: var(--accent-color);
    transition:all 300ms ease-in-out;
    color: rgba(255, 255, 255, 1);
    box-shadow: 2px 5px 10px rgb(236, 33, 46,0.4);
}

.contact i{
    padding: 0 10px;
}

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding:50px;
    border-top:1px solid rgba(255,255,255, 0.2) ;
    font-size: 1.15rem;
}

.btn{
    border: 1px solid var(--accent-color);
    background-color: transparent;
    align-items: center;
    color: white;
    padding:15px 24px 15px 18px;
    font-size: 16px;
    border: black; 
    opacity: 0.8; 
}
.btn:hover{
    background-color: var(--accent-color);
    transition:all 300ms ease-in-out;
    color: rgba(255, 255, 255, 1);
    box-shadow: 4px 10px 20px rgb(236, 33, 46,0.4);
    border-radius: 30px;
}

@media screen and (max-width: 992px){
    nav{
        display:none;
    }
}

@keyframes pan {
    from{
        background-position: 0 center;
    }
    to{
        background-position: -200% center;
    }
}

@keyframes spawn {
    to{
      opacity: 1;  
    }
}

@keyframes expand-width {
    to{
        width:100%;
    }
}
@keyframes expand-height-1 {
    to{
        height: 100%;
        visibility: visible;
    }
}
@keyframes expand-height-2 {
    to{
        height: 75%;
        visibility: visible;
    }
}

